<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TipidMate"
        tools:targetApi="31">
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".HomeScreenActivity" />
        <activity android:name=".TransactionActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ChartsActivity" />
        <activity android:name=".GoalsActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".GroupBudgetActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".AllTransactionsActivity" />
        <activity android:name=".BudgetActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".GoalsCreateActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".GoalsDetailsActivity" />
        <activity android:name=".GoalsSavingsActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".AllContributionsActivity" />
        <activity
            android:name=".NewGroupBudgetActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".GroupBudgetDetailsActivity" />
        <activity android:name=".GroupBudgetAddActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".GroupBudgetHistoryActivity" />
    </application>

</manifest>
